/* 头部 logo */
.logo_box {
  overflow: hidden;
  height: 96px;
  display: flex;
  align-items: center;
  position: relative;

}

/* 左logo */
.logo_box img:first-child {
  float: left;
  margin-right: 50px;
}

/* 中 */
.logo_box img:last-child {
  align-items: center;
}

/* 右联系电话 */
.logo_box .photo {
  position: absolute;
  right: 0;
  width: 225px;
  height: 96px;
  float: right;
  overflow: hidden;
  padding: 25px 10px;
  box-sizing: border-box;
}

.logo_box .photo img {
  float: left;
  margin-right: 10px;
}

.logo_box .photo p {
  font-size: 18px;
  color: #ff6537;
}



/* 网站 导航栏 */
.nav {
  width: 100%;
  height: 50px;
  background-color: #000;
  min-width: 1200px;

}

.nav ul li {
  float: left;
  margin-right: 15px;
  text-align: center;

}


.nav ul li .nav_a {
  position: relative;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 20px;
}

.nav ul li:last-child {
  float: right;
  display: table-cell;

}

.nav ul li:last-child a img {
  width: 130px;
  vertical-align: middle;
  margin-top: 3px;
}




.nav ul li .nav_a:hover {
  background: #00CACA;
  color: #050801;
  box-shadow: 0 0 5px #00CACA, 0 0 10px #00CACA, 0 0 10px #00CACA,
    0 0 200px #00CACA;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  border-radius: 15px;
}

.nav ul li:nth-child(1) .nav_a {
  filter: hue-rotate(0deg);
}

.nav ul li:nth-child(2) .nav_a {
  filter: hue-rotate(0deg);
}

.nav ul li:nth-child(3) .nav_a {
  filter: hue-rotate(0deg);
}

.nav ul li:nth-child(4) .nav_a {
  filter: hue-rotate(0deg);
}

.nav ul li:nth-child(5) .nav_a {
  filter: hue-rotate(0deg);
}


.nav ul li .nav_a span {
  position: absolute;
  display: block;
}

.nav ul li .nav_a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.nav ul li .nav_a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.nav ul li .nav_a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.nav ul li .nav_a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}