body {
  position: relative;
}

.project_nav {
  position: relative;
  z-index: 9;
}

.con {
  width: 100%;
  height: 1000px;
  background: url(../../image/beijing.jpg)no-repeat center;
  background-size: 100% 1000px;
  margin-top: -150px;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: -140px;
}

.con>img {
  margin-top: 170px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.con .box {
  width: 1000px;
  height: 700px;
  background: url(../../image/index/00012.png)no-repeat center/ 1000px 700px;
  margin: 0 auto;
  margin-top: 275px;
  border-radius: 50px;
  padding: 15px 20px;
  box-sizing: border-box;

}

.con .box ul {
  width: 100%;
  margin-top: 10px;

}

.con .box ul li {
  height: 80px;
  border-bottom: 1px dashed #f0f0f0;
  overflow: hidden;
}

.con .box ul li span {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  color: #fff;
  float: left;
  margin-left: 20px;
  letter-spacing: 5px;
}




.con .box ul li>input,
.con .box ul li select {
  float: left;
  width: 400px;
  height: 60px;
  margin-top: 8px;
  vertical-align: middle;
  margin-left: 50px;
  border: 0px;
  padding-left: 20px;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 15px;
  font-size: 18px;

}



input:focus {
  outline: none;
}

.noFocus {
  border: 2px solid #FF2D2D !important;
  box-shadow: 0px 0px 15px #FF2D2D;

}

.con .box ul li .radio {
  display: inline-block;
  width: 400px;
  height: 60px;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  overflow: hidden;
}

.con .box ul li .radio>input {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  float: left;
  margin-top: 15px;
}

.con .box ul li .radio>span {
  font-size: 25px;
  line-height: 60px;
  display: inline-block;
  margin: 0 40px;
}




/* WebKit browsers */
input::-webkit-input-placeholder {
  color: #333;
  font-size: 18px;
}

/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  color: #333;
  opacity: 1;
  font-size: 18px;
}

/* Mozilla Firefox 19+ */
input::-moz-placeholder {
  color: #333;
  opacity: 1;
  font-size: 18px;
}

/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: #333;
  font-size: 18px;
}

.con .box ul li select {
  /*很关键：将默认的select选择框样式清除*/
  /* appearance: none; */
  -moz-appearance: none;
  -webkit-appearance: none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../../image/ycjz/p3_arr2.png") no-repeat right center;


  background-color: #f0f0f0;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  box-sizing: border-box;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}

.con .box ul li select option {
  height: 60px;
  line-height: 60px;
  padding: 10px 5px;
  cursor: pointer;
}


.con .box>a {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  background-color: #73b52d;
  border-radius: 20px;
  margin-top: 60px;
  border: 1px solid #73b52d;
  color: #fff;
  font-size: 30px;
  letter-spacing: 4px;
}

.con .box .code {
  float: right;
  width: 186px;
  margin-top: 16px;
  margin-right: 8px;
  overflow: hidden;
}

.con .box .code img {
  float: left;
}

.con .box .code p:nth-child(2) {
  writing-mode: tb-rl;
  float: left;
  color: #f0f0f0;
  font-size: 16px;
  margin-left: 5px;
  letter-spacing: 4px;
}

.con .box .code p:nth-child(3) {
  color: #f0f0f0;
  font-size: 18px;
  float: left;
  margin-left: 32px;
}

.con .box ul li>.ts {
  display: none;
}

.current {
  color: #00DB00 !important;
}

.success {
  color: #FF2D2D !important;
}

.tsk {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: #97CBFF;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  padding: 50px 20px;
  box-sizing: border-box;
  display: none;
}

.tsk span {
  display: inline-block;
  font-size: 35px;
  color: #FF5151;
  font-weight: 700;
  text-align: center;
}

.tsk p {
  font-size: 30px;
  color: #9F4D95;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}

.tsk .blue {
  display: block;
  width: 150px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #01A2A2;
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
}